@media (max-width: 768px) {
    body {
        margin: 0;
    }

    #myForm {
        display: flex;
        flex-direction: column;
    }

    .search-container {
        width: 92vw;
        margin: auto;
        padding: 20px 16px;
    }

    .search-container h2 {
        font-size: 20px;
    }

    .residence-and-age,
    .return-location,
    .data-picker-container,
    .check-box {
        display: none;
    }


    form {
        width: 100%;
    }

    .input-wrapper {
        position: relative;
        margin-top: 20px;
        width: 100%;
        order: 1;
    }

    .default-icon {
        bottom: 10px;
    }

    .clear-icon {
        bottom: 16px;
    }

    .error-icon {
        bottom: 20px;
    }

    .remove-icon {
        position: absolute;
        top: 0;
        right: 0;
    }

    .input-wrapper input {
        width: 100%;
        height: 48px;
    }

    .submit-btn button {
        width: 100%;
    }

    #pickupLabel::after {
        content: 'Pick-up & Return';
        display: block;
    }

    #pickupLabel {
        color: transparent;
        position: relative;
    }

    #pickupLabel::after {
        color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        font-size: 14px;
    }

    .search-container.expanded {
        width: 100vw;
        border-radius: 0;
    }

    .search-container.expanded h2 {
        display: none;
    }

    .input-wrapper.expanded {
        margin-top: 0;

    }


    .data-picker-container.expanded {
        display: block;

    }

    .return-location.expanded, .check-box.expanded {
        display: flex;
    }

    .return-location {
        max-width: 100%;
        order: 2;
    }

    .data-picker-container {
        order: 3;
    }

    .residence-and-age.expanded {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        order: 4;
    }

    .check-box {
        order: 5;
    }

    .promo-code {
        order: 6;
    }

    #promo-code {
        width: 100%;
        height: 48px;
        margin-top: 0;
    }

    .submit-btn {
        order: 7;
    }

    .hidden.expanded {
        display: none;
    }

    #drop-off-label {
        display: none;
    }

    .data-picker-day,
    .data-picker-hour {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        height: 48px;
        cursor: pointer;
        padding-left: 10px;
        gap: 10px;

    }

    .data-picker {
        justify-content: space-around;
    }

    .svg-clock {
        display: block;
    }

    .residence-dropdown {
        left: 0 !important;
        width: 100%;
    }

    .promo-code.active {
        display: block;
    }

    .switch {
        margin: 0;
    }

    .slider-text {
        margin-top: 10px;
    }

    .calendar-body-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .calendar-container {
        width: 100vw;
        height: auto;
        left: 0 !important;
        box-shadow: none;
        border-radius: 0;
        border: 0;
    }

    .calendar-header {
        flex-direction: column;
        position: relative;
    }

    #next-button {
        position: absolute;
        right: 0;
    }

    .autocomplete-items {
        width: auto;
    }
    #original-picker-section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .modal {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: #fff;
        padding: 20px;
        box-sizing: border-box;
        width: 100vw;
        text-align: center;
        max-height: 150px;
    }

    .mobi-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .data-picker-day-model {
        display: flex;
        border: 1px solid #C9C9CE;
        align-items: center;
        justify-content: flex-start;
        border-radius: 8px;
        padding: 0 4vw;
        width: 100%;
        box-sizing: border-box;
        gap: 16px;
        height: 48px;;
    }
    .data-picker-day-model:hover,
    .data-picker-day-model:active{
        border: 2px solid #4A44F2;
    }
    .data-picker-day-model:hover svg path,
    .data-picker-day-model:active svg path{
        fill: #4a44f2;
    }

    h3 {
        margin: 8px 10px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }

    /*    стилістика нового вікна календаря*/
    /* Стилі для клонованої секції */
    #original-picker-section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .continue-btn {
        display: flex;
        padding: 16px 32px;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: #F2E635;
        font-size: 16px;
        color: #000;
        text-align: center;
        font-weight: 700;
        line-height: 140%;
        text-transform: capitalize;
        outline: none;
        border: none;
    }

    p {
        text-align: left;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .date-model-data {
        width: 45%;
    }

    .background-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1200;
        bottom: 0;
        left: 0;
        border-top: 1px solid #ECECEE;
        border-bottom: 1px solid  #ECECEE;
        background: #FFF;
        width: 100vw;
        height: 72px;
        padding: 16px;
        box-sizing: border-box;
    }


}